.detail__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.detail__container__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
.detail__container__info {
    display: flex;
    gap: 2rem;
}
.detail__container__info__thumb {
    flex-shrink: 0;
    width: 23rem;
}